body{
    background: url("../assets/images/bigBg.jpg") fixed center center;
}
#gameBackground {
    width:800px;
    height: 600px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-300px;
    margin-left: -400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 50px rgba(0, 0, 0, 1), 0px 0px 100px rgba(0, 0, 0, 1);
}
.frameImage{
    width:800px;
    height: 600px;
    background-image: url("../assets/images/global.jpg");
}
.mainBar{
    width:800px;
    height:108px;
    position: absolute;
    bottom:0;
    z-index: 1;
    background-image: url("../assets/images/main_bar.png");
}
.icon{
    width:21px;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    height: 56px;
}
#minusIcon1{
    background-image:url("../assets/images/minus.png");
    background-position: -42px 0px;
    left: 14px;
}
#plusIcon1{
    background-image:url("../assets/images/plus.png");
    background-position: -42px 0px;
    left: 90px;

}
#minusIcon2{
    background-position: -42px 0px;
    background-image:url("../assets/images/minus.png");
    left: 130px;

}
#plusIcon2{
    background-image:url("../assets/images/plus.png");
    background-position: -42px 0px;
    left: 206px;
}
#minusIcon3{

    background-image:url("../assets/images/minus.png");
    background-position: -42px 0px;
    left: 579px;
}
#plusIcon3{
    background-image:url("../assets/images/plus.png");
    background-position: -42px 0px;
    left: 682px;
}
#autoPlayIcon{
    width: 128px;
    background-position: 0px -168px;
    height: 56px;
    position: absolute;
    bottom: 23px;
    left: 238px;
    background-image: url("../assets/images/autoplay.png");

}
#spinBttn{
    width: 89px;
    background-position: -89px 0px;
    height: 99px;
    position: absolute;
    bottom: 6px;
    left: 357px;
    background-image: url("../assets/images/spin_button.png")
}
#maxBet{
    width: 123px;
    background-position: 0px -112px;
    height: 56px;
    position: absolute;
    bottom: 23px;
    left: 442px;
    background-image: url("../assets/images/max_bet.png")
}

#paytableIcon{
    width: 73px;
    background-position: 0px -84px;
    height: 42px;
    position: absolute;
    bottom: 24px;
    left: 716px;
    background-image: url("../assets/images/paytable_button.png")

}

#minusIcon1:hover{
    background-position: 0px 0px;
}
#minusIcon1:active{
    background-position: -21px 0px;
}

#minusIcon2:hover{
    background-position: 0px 0px;
}

#minusIcon2:active{
    background-position: -21px 0px;
}

#minusIcon3:hover{
    background-position: 0px 0px;
}

#minusIcon3:active{
    background-position: -21px 0px;
}

#plusIcon1:hover{
    background-position: 0px 0px;
}

#plusIcon1:active{
    background-position: -21px 0px;
}

#plusIcon2:hover{
    background-position: 0px 0px;
}

#plusIcon2:active{
    background-position: -21px 0px;
}

#plusIcon3:hover{
    background-position: 0px 0px;
}

#plusIcon3:active{
    background-position: -21px 0px;
}

#spinBttn:hover{
    background-position: 0px 0px;
}
#spinBttn:active{
    background-position: 0px -99px;
}

#autoPlayIcon:hover{
    background-position: 0px 0px;
}
#autoPlayIcon:active{
    background-position: 0px -56px;
}

#paytableIcon:hover{
    background-position: 0px 0px;
}
#paytableIcon:active{
    background-position: 0px -42px;
}

#maxBet:hover{
    background-position: 0px 0px;
}
#maxBet:active{
    background-position: 0px -56px;
}
.containerNumbers{
    position: absolute;
    z-index: 6;
    top: 0;
}

.numbers{
    background-image: url("../assets/images/numbers.jpg");
    position: absolute;
    width:23px;
    height:28px;
    cursor: pointer;
}

#number1{
    background-position: 0px 0px;
    left:0px;
    top:279px;
}

#number1:hover{
    background-position: -23px 0px;

}
#number2 {
    background-position: -92px 0px;
    left: 0px;
    top: 119px;
}
#number2:hover{
    background-position: 0px -28px;

}
#number3{
    background-position: -69px -28px;
    left:0px;
    top:443px;
}
#number3:hover{
    background-position: -92px -28px;

}
#number4{
    background-position: -46px -56px;
    left:777px;
    top:144px;

}
#number4:hover{
    background-position: -69px -56px;

}
#number5{
    background-position: -23px -84px;
    left:777px;
    top:417px;

}
#number5:hover{
    background-position: -46px -84px;

}
#number6{
    background-position: 0px -112px;
    left:0px;
    top:162px;

}
#number6:hover{
    background-position: -23px -112px;

}
#number7{
    background-position: -92px -112px;
    left:0px;
    top:394px;

}
#number7:hover{
    background-position: 0px -140px;

}

#number8{
    background-position: 0px -224px;
    left:777px;
    top:258px;

}
#number8:hover{
    background-position: -23px -140px;

}
#number9{
    background-position: -92px -140px;
    left:777px;
    top:302px;
}

#number9:hover{
    background-position: -23px -168px;

}

.payline{
    position: absolute;
    background-image: url("../assets/images/paylines.png");
    display: none;
    z-index: 5;
}

#payline1{
    width: 776px;
    height:56px;
    background-position: 0px -730px;
    top:268px;
}
#payline2{
    width: 776px;
    height:56px;
    background-position: 0px -730px;
    top:110px;
}
#payline3{
    width: 776px;
    height:56px;
    background-position: 0px -730px;
    top:437px;
}
#payline4{
    width: 772px;
    height:276px;
    background-position: 0px -790px;
    top:143px;
    left: 30px;
}
#payline5{
    width: 772px;
    height:276px;
    background-position: 0px -1064px;
    top:180px;
    left: 30px;
}
#payline6{
    width: 789px;
    height:224px;
    background-position: 0px 0px;
    top:100px;
}
#payline7{
    width: 776px;
    height:180px;
    background-position: 0px -219px;
    top:260px;
}
#payline8{
    width: 776px;
    height:163px;
    background-position: 0px -411px;
    top:140px;
    left: 30px;
}
#payline9{
    width: 776px;
    height:163px;
    background-position: 0px -580px;
    top:300px;
    left: 30px;
}
.logoDragons{
    position: absolute;
    top:0px;
    left:0px;
}

#dragon1{
    background-image: url("../assets/images/logo-left.jpg");
    position: absolute;
    width: 80px;
    height:65px;
    top:31px;
    left:207px;

}

#dragon2{
    background-image: url("../assets/images/logo-right.jpg");
    position: absolute;
    width: 80px;
    height:65px;
    top:31px;
    left:506px;
}

.dragonWood{
    position: absolute;
    left: 175px;
    width: 18px;
    height: 392px;
    top: 104px;
    overflow: hidden;
    z-index: 5;
}
.dragonWood div{
    position: absolute;
    left: 0px;
    width: 18px;
    height: 992px;
    top: -385px;
    background-image: url("../assets/images/chain.png");
}

#chain1{
    left: 175px;
}

#chain2{
    left: 320px;
}
#chain3{
    left: 465px;
}
#chain4{
    left:610px;
}

.column{
    position: absolute;
    width: 132px;
    height: 390px;
    top: 100px;
    top: 100px;
    z-index: 3;
    overflow: hidden;
}
#column1{
    left: 48px;
}

#column2{
    left:188px;
}


#column3{
    left:338px;
}

#column4{
    left:482px;
}

#column5{
    left:626px;
}

.symbol{
    height:132px;
    width:132px;
}
.symbolsContainers{
    position: absolute;

}

.symbol1{
    background-position: 0px 0px;
    background-image: url("../assets/images/reel.jpg");
}
.symbol2{
    background-position: -264px 0px;
    background-image: url("../assets/images/reel.jpg");
}
.symbol3{
    background-position: 0px -130px;
    background-image: url("../assets/images/reel.jpg");
}
.symbol4{
    background-position:0px 0px ;
    background-image: url("../assets/images/symbol07_anim.jpg");
}
.symbol5{
    background-position:0px 0px ;
    background-image: url("../assets/images/symbol05_anim.jpg");
}
.symbol6{
    background-position:0px 0px ;
    background-image: url("../assets/images/symbol06_anim.jpg");
}
.symbol7{
    background-position:0px 0px ;
    background-image: url("../assets/images/symbol04_anim.jpg");
}
.symbol8{
    background-position:0px 0px ;
    background-image: url("../assets/images/symbol09_anim.jpg");
}
.symbol9{
    background-position:0px 0px ;
    background-image: url("../assets/images/symbol08_anim.jpg");
}
.symbol10{
    background-position:0px 0px ;
    background-image: url("../assets/images/symbol10_anim.jpg");
}

.bonusMode{
    position: absolute;
    z-index: 10;
    width:800px;
    height: 600px;
    background-image: url("../assets/images/bonus_bgn.jpg");
    display: none;
}

.bonusEgg{
    position: absolute;
    bottom: 87px;
    left: 384px;
    width:152px;
    height:182px;
    background-image:url("../assets/images/bonus_item_anim.png") ;
}
.bonusDragon{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:252px;
    height:600px;
    background-image:url("../assets/images/bonus_dragon_anim.jpg") ;
}